services:
  app:
    build:
      context: ../../
      dockerfile: docker/development/Dockerfile
      target: dev
    image: dev-tom-roffe-uk
    volumes:
      - ../../:/app
      - /app/node_modules
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=development
