@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@custom-variant dark {
    @media not print {
        &:where(.dark, .dark *) {
            @slot
        }
    }
}

body.show-long .long {
  display: block;
  opacity: 1;
  max-height: 9999px; /* Adjust based on content height */
}

body.show-long .short {
  display: none;
  opacity: 0;
  max-height: 0;
}

body.show-short .short {
  display: block;
  opacity: 1;
  max-height: 9999px; /* Adjust based on content height */
}

body.show-short .long {
  display: none;
  opacity: 0;
  max-height: 0;
}

.short,
.long {
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  overflow: hidden;
}
