name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: docker/build-push-action@6
      name: Build and push Docker image
      with:
        context: .
        file: ./docker/production/Dockerfile
        platforms: ${{ matrix.platforms }}
        push: true
        outputs: type=image,name=target
